<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linstick.collegeassistant">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="高校小助手"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchActivity" />

        </activity>

        <activity
            android:name=".activities.EditNoteActivity"
            android:label="添加帖子" />

        <activity
            android:name=".activities.SearchActivity"
            android:label="搜索"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <!-- meta tag and intent filter go into results activity -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NoteDetailActivity"
            android:label="详情">
        </activity>

        <activity
            android:name=".activities.UserInfoActivity"
            android:label="用户信息">
        </activity>

        <activity
            android:name=".activities.PersonalNotesActivity"
            android:label="我的帖子">
        </activity>

        <activity
            android:name=".activities.CollectionsActivity"
            android:label="我的收藏">
        </activity>

        <activity
            android:name=".activities.PersonalRelatedActivity"
            android:label="与我相关">
        </activity>

        <activity
            android:name=".activities.FeedBackActivity"
            android:label="用户反馈">
        </activity>
    </application>

</manifest>